<body class="bg-gray-100 flex justify-center items-center">
<div class="container p-5 h-screen">
  <h1 class="text-5xl mb-4">Reglements</h1>

  <div class="overflow-auto rounded-lg shadow hidden md:block">
    <table class="w-full">
      <thead class="bg-gray-50 border-b-2 border-gray-200">
      <tr>
        <th class="w-20 p-3 text-sm font-semibold tracking-wide text-left">Reference</th>
        <th class="w-24 p-3 text-sm font-semibold tracking-wide text-left">Status</th>
        <th class="w-24 p-3 text-sm font-semibold tracking-wide text-left">Date</th>
        <th class="w-32 p-3 text-sm font-semibold tracking-wide text-left">Total</th>
      </tr>
      </thead>
      <tbody class="divide-y divide-gray-100">
      <ng-container *ngFor="let reglement of reglements">
        <tr class="bg-gray-50">
          <td class="p-3 text-sm text-gray-700 whitespace-nowrap">
            <a class="font-bold text-blue-500">RGL_{{reglement.num_reglement}}</a>
          </td>
          <td class="p-3 text-sm text-gray-700 whitespace-nowrap">
                <span
                  class="p-1.5 text-xs font-medium uppercase tracking-wider text-green-800 bg-green-200 rounded-lg bg-opacity-50">
                  {{reglement.etat}}
                </span>
          </td>
          <td class="p-3 text-sm text-gray-700 whitespace-nowrap">{{reglement.date_paiement}}</td>
          <td class="p-3 text-sm text-gray-700 whitespace-nowrap">${{reglement.montant}}</td>
        </tr>
        <tr *ngFor="let facture of reglement.factures" class="bg-gray-100">
          <td class="p-3 text-sm text-gray-700 whitespace-nowrap" colspan="4">
            Facture: <a class="font-bold  text-gray-700">{{facture.num_facture}}</a> - Montant: ${{facture.montant_total}}
          </td>
        </tr>
      </ng-container>
      </tbody>
    </table>
  </div>
</div>
</body>
