<body class="bg-gray-100 flex justify-center items-center ">

<div class="container p-5 h-screen">
  <h1 class="text-5xl  mb-4">Historique des payments</h1>
  <div class="flex space-x-4 mb-4">
    <button class="bg-gray-700 text-white py-2 px-4 rounded" (click)="allFactures()">Tous</button>
    <button class="bg-gray-700 text-white py-2 px-4 rounded" (click)="unpaidFactures()"> Non Payé</button>
    <button class="bg-gray-700 text-white py-2 px-4 rounded" (click)="paidFactures()">Payé</button>

  </div>

  <div class="overflow-auto rounded-lg shadow hidden md:block">
    <table class="w-full">
      <thead class="bg-gray-50 border-b-2 border-gray-200">
      <tr>
        <th class="w-20 p-3 text-sm font-semibold tracking-wide text-left">Reference</th>
        <th class="w-24 p-3 text-sm font-semibold tracking-wide text-left">Status</th>
        <th class="w-24 p-3 text-sm font-semibold tracking-wide text-left">Date</th>
        <th class="w-32 p-3 text-sm font-semibold tracking-wide text-left">Total</th>
      </tr>
      </thead>
      <tbody class="divide-y divide-gray-100">
      <tr class="bg-gray-50" *ngFor="let facture of factures">
        <td class="p-3 text-sm text-gray-700 whitespace-nowrap">
          <a class="font-bold text-blue-500 ">FAC_{{facture.num_facture}}</a>
        </td>
        <td class="p-3 text-sm text-gray-700 whitespace-nowrap">
          <span
            class="p-1.5 text-xs font-medium uppercase tracking-wider {{facture.etat == 'NON_PAYEE' ? 'text-red-800 bg-red-200' : 'text-green-800 bg-green-200' }} rounded-lg bg-opacity-50">
  {{facture.etat == 'NON_PAYEE' ? 'Non Payé' : 'Payé'}} </span>
        </td>
        <td class="p-3 text-sm text-gray-700 whitespace-nowrap">{{facture.date_transaction}}</td>
        <td class="p-3 text-sm text-gray-700 whitespace-nowrap">${{facture.montant_total}}</td>
      </tr>
      </tbody>
    </table>
  </div>
  <button class="bg-gray-700 text-white mt-4 py-2 px-4 rounded disabled:opacity-50" (click)="openModal()">Demande de
    paiement
  </button>
</div>

<app-modal-page *ngIf="showModal" [title]="modalTitle" (closeModal)="closeModal()"></app-modal-page>
</body>
